<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PSU Harrisburg MATH/CS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div th:include="layout::header"></div>

<div id="content" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">BS in Mathematical Sciences</h5>
                    <hr>
                    <ul>
                        <li><a href="#" class="card-link">Entrance Requirements</a></li>
                        <li><a href="#" class="card-link">Degree Requirements</a></li>
                        <li><a href="#" class="card-link">Minor Requirements</a></li>
                        <li><a href="#" class="card-link">Course Descriptions</a></li>
                        <li><a href="#" class="card-link">Faculty</a></li>
                        <li><a href="#" class="card-link">Students</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">BS in Mathematical Sciences</h5>
                    <hr>
                    <ul>
                        <li><a href="#" class="card-link">Entrance Requirements</a></li>
                        <li><a href="#" class="card-link">Degree Requirements</a></li>
                        <li><a href="#" class="card-link">Minor Requirements</a></li>
                        <li><a href="#" class="card-link">Course Descriptions</a></li>
                        <li><a href="#" class="card-link">Faculty</a></li>
                        <li><a href="#" class="card-link">Students</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>